{% extends '_base.html' %}
{% load static %}
{% load my_tags %}

<!-- test form start -->

{% block title %}
  <title>take an exam</title>
{% endblock title %}


{% block content %}
<div class="content-body farsi">
    <div class="container-fluid " dir="rtl">
        <div class="row page-titles">
            <ol class="breadcrumb" dir="rtl" style="text-align: right;">
                <li class="breadcrumb-item active"><a href="">ترم {{quiz.lesson.term|e2fnum}}</a></li>
                <li class="breadcrumb-item"><a href="">
                    <span class="text-primary">&nbsp; / </span>
                     استاد : {{quiz.lesson.master}}
                     </a></li>
                <!-- <li class="breadcrumb-item"><a href=""></a></li> -->
                <li class=""><a href="">طراح سوالات : {{quiz.quiz_maker}}</a></li>
            </ol>
        </div>

        <div class="row">
            <form class="farsi" action="{% url 'take_an_exam' quiz.id %}" method="POST" >
            <div class="col-xl-12 col-lg-12 farsi"  style="font-size: medium ;">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title farsi" >
                            {{quiz.name}}
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <div class="card-body">
                                <div class="basic-form">
                                        {% for question in quiz.questions.all %}
                                            {% if forloop.counter != 1 %}
                                                <hr>
                                            {% endif %}
                                            
                                            
                                            {% csrf_token %}
                                            <div class="mb-1 row">
                                                <label class="col-sm-11 col-form-label"  style="text-align: justify;">
                                                    <h4 class="card-title col-12">
                                                        <span href="" class="badge  badge-primary">
                                                        {{forloop.counter|e2fnum}}
                                                        </span> 
                                                        {{question.text}}</h4>
                                                </label>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-4 col-xxl-12 col-12">
                                                    <div class="form-check  form-check-cus custom-checkbox mb-0 checkbox-info ">
                                                        <input  type="radio" class="form-check-input form-check-input-cus" id="customRadioBox3" name="{{question.id}}" value="1" required>
                                                        <label class="form-check-label form-check-label-cus " for="customRadioBox3" >{{question.choice_1}}</label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-xxl-12 col-12">
                                                    <div class="form-check  form-check-cus custom-checkbox mb-0 checkbox-info ">
                                                        <input  type="radio" class="form-check-input form-check-input-cus" id="customRadioBox3" name="{{question.id}}" value="2" required>
                                                        <label class="form-check-label form-check-label-cus " for="customRadioBox3" >{{question.choice_2}}</label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-xxl-12 col-12">
                                                    <div class="form-check  form-check-cus custom-checkbox mb-0 checkbox-info ">
                                                        <input  type="radio" class="form-check-input form-check-input-cus" id="customRadioBox3" name="{{question.id}}" value="3" required>
                                                        <label class="form-check-label form-check-label-cus " for="customRadioBox3" >{{question.choice_3}}</label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-xxl-12 col-12">
                                                    <div class="form-check  form-check-cus custom-checkbox mb-0 checkbox-info ">
                                                        <input  type="radio" class="form-check-input form-check-input-cus" id="customRadioBox3" name="{{question.id}}" value="4" required>
                                                        <label class="form-check-label form-check-label-cus " for="customRadioBox3" >{{question.choice_4}}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-4 "></div>
                    <div class="col-sm-4 card card-cus" >

                        <button type="submit" class="btn btn-success">اتمام آزمون</button>
                    </div>
                    <div class="col-sm-4 " style="background: none;">
                      
                    </div>
                </div>
            </form>
            
        </div>
</div>
</div>
                            
{% endblock content %}
<!-- test form end -->


<!--**********************************
    Scripts
    ***********************************-->
{% block required_js %}
    <!-- {{ block.super }} -->
    <!-- Required vendors -->
    <script src="{% static './vendor/global/global.min.js' %}"></script>
        <!--  -->
    <script src="{% static './vendor/jquery-steps/build/jquery.steps.min.js' %}"></script>
    <script src="{% static './vendor/jquery-validation/jquery.validate.min.js' %}"></script>
    <!-- Form validate init -->
    <script src="{% static './js/plugins-init/jquery.validate-init.js' %}"></script>


    <!-- Form Steps -->
    <script src="{% static './vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js' %}"></script>
    <script src="{% static 'vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
    
    <script src="{% static './js/custom.js' %}"></script>
    <script src="{% static './js/dlabnav-init.js' %}"></script>
    <script src="{% static './js/demo.js' %}"></script>
    <script src="{% static './js/styleSwitcher.js' %}"></script>
    <script>
        $(document).ready(function(){
            // SmartWizard initialize
            $('#smartwizard').smartWizard(); 
        });
    </script>
{% endblock required_js %}




